* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./pics/blue-blank-notepad-with-copy-space.jpg);
}

.calculator-container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  border: 2px solid;
}

.calculator {
  width: 300px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 2em;
  border: none;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: right;
  background-color: #ffffffc0;
  color: #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  padding: 20px;
  border: none;
  border-radius: 12px;
  font-size: 1.2em;
  color: white;
  background: linear-gradient(135deg, #898585);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.15s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn.operator {
  background: linear-gradient(135deg, #ff5f6d, #ffc371);
}

.btn.clear {
  background: linear-gradient(135deg, #f953c6, #b91d73);
}

.btn.equal {
  grid-row: span 2;
  background: linear-gradient(135deg, #43e97b, #38f9d7);
}

.btn.zero {
  grid-column: span 2;
}

.btn.back {
  background: linear-gradient(135deg, #ed4264, #ffedbc);
}
